%tr.pure-u-1.row.field-container
  %td.t-item.pure-u-2-5
    = f.hidden_field :product_id, :class => 'field product_id'
    %input{type: 'text', class: 'products-search field', placeholder: 'Name/ID'}
  %td.t-item.pure-u-1-10
    %span.i-id
      _
  %td.t-item.pure-u-1-10
    = f.text_field :product_quantity, placeholder: 'Quantity', class: 'field product_quantity pure-u-1', required: true
  %td.t-item.pure-u-1-10
    %span.i-price
      _
  %td.t-item.pure-u-1-5
    %span.i-total
    = f.hidden_field :product_total_price, class: 'i-total'
  %td.t-item.pure-u-1-10
    = f.hidden_field :_destroy, class: 'destroy'
    %span
      = link_to 'x', '#', class: 'remove_product'
