.l-container.-centered
  %table.pure-u-1.m-table.white-box
    %tbody.pure-u-1.t-body
      %tr.pure-u-1.header
        %td.pure-u-1.t-header-item.d-title.-bold.-scorpion
          %span
            Invoices
        %td.pure-u-1-5.t-item.name
          %span
            Client:
        %td.pure-u-1-5.t-item.id
          %span
            Client ID:
        %td.pure-u-1-5.t-item.status
          %span
            Status:
        %td.pure-u-1-5.t-item.balance
          %span
            Balance:
        %td.pure-u-1-5.t-item.pdf
          %span
            PDF:
      - @invoices.each do |invoice|
        - if invoice.deleted == 0
          %tr.pure-u-1.row
            %td.pure-u-1-5.t-item.name
              %span
                = invoice.client.name
            %td.pure-u-1-5.t-item.id
              %span
                = invoice.client.identification
            %td.pure-u-1-5.t-item.status
              %span
                - if invoice.status == 1
                  Paid
                - else
                  Pending
            %td.pure-u-1-5.t-item.balance
              %span
                $
                = invoice.balance
            %td.pure-u-1-5.t-item.pdf
              %span
                = link_to 'Download', "#{invoice_path(invoice)}.pdf", class: 'pure-u-1 n-link', target: "_blank"
                = link_to "Cambiar Status", invoice_path(invoice), :confirm => "Are you sure?", :method => :put, class: 'pure-u-1 n-link'
                = link_to "Delete invoice", invoice_path(invoice), remote: true, :confirm => "Are you sure?", :method => :delete, class: 'pure-u-1 n-link delete_invoice'
