%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | Cryptography and Solutions Invoices" : "Cryptography and Solutions Invoices"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:name => "description",                                         |
          :content => content_for?(:description) ? yield(:description) :  |
          "Invoices - Cryptography and Solutions"}/    |
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag wicked_pdf_asset_base64('application')
    = wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true
  .pure-u-1
    .l-container
      .l-container.field-group.-end
        %h2.d-title.-scorpion.-fullWidth.-right.-big
          Invoice
        .field-set
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion.-right
              Status: 
            - if @invoice.status == 1
              Paid
            - else
              Pending
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion
              Name:
            = " #{@invoice.company.name}"
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion
              Nit:
            = " #{@invoice.company.nit}"
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion
              Address:
            = " #{@invoice.company.direction}"
            = " #{@invoice.company.city}, #{@invoice.company.state}, #{@invoice.company.country}"
      %hr.full-width.line-division
      .l-container.field-group.-between
        .pure-u-11-24.field-set.-left
          .pure-u-1._text-left
            %strong.d-title.-mid-size.-scorpion
              Bill to:
            %p.d-text.-fullwidth
              = " #{@invoice.client.name}"
            %p.d-text.-fullwidth
              = " #{@invoice.client.identification}"
            %p.d-text.-fullwidth
              = " #{@invoice.client.direction}"
        .pure-u-11-24.field-set.-right
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              = "Invoice #: #{@invoice.id}"
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              = "Invoice date: #{@invoice.date}"
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              Payment Due:
            %label.d-title.-mid-size.-scorpion.label
              = @invoice.date
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              = "Tax #: #{@invoice.tax}%"
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              Amount Due (USD):
              %span.balance
                $
                = @invoice.balance
      .pure-u-1.h-table
        .pure-u-1.t-body
          .pure-u-1.header
            .t-item.pure-u-1-4
              Name:
            .t-item.pure-u-1-4
              Quantity:
            .t-item.pure-u-1-4
              Price:
            .t-item.pure-u-1-6
              Total:
      .pure-u-1.i-table
        .pure-u-1.t-body
          - @invoice.invoice_products.each do |item|
            .pure-u-1.row.field-container
              .t-item.pure-u-1-4
                %span
                  = item.product.name
              .t-item.pure-u-1-4
                %span
                  = item.product_quantity
              .t-item.pure-u-1-4
                %span.i-price
                  $
                  = item.product.price
              .t-item.pure-u-1-6
                %span.i-price
                  $
                  = item.product_total_price
      .l-container.pure-u-1.-between
        %h2.d-title.-mid-size.-scorpion.pure-u-1
          Payment Details
        .payment-details
          %h3.d-title.-mid-size.-scorpion.pure-u-1.-left
            Paypal Account:
          %dl.payment-via.pure-u-1
            %p.d-title.-small-size.-scorpion
              Account:
            %span
              amelia21692011@gmail.com
            %p.d-title.-small-size.-scorpion
              Amount:
            %span
              $793,13
          %h3.d-title.-mid-size.-scorpion.pure-u-1.-left
            BCP Beneficiary Details:
          %dl.payment-via.pure-u-1
            %p.d-title.-small-size.-scorpion
              Name:
            %span
              Reyes Mora María Teresa de Jesús
            %p.d-title.-small-size.-scorpion
              Address:
            %span
              Av Lambramani, Killari 1 - E-11 Arequipa - Perú
            %p.d-title.-small-size.-scorpion
              Account:
            %span
              215-942-80987-1-15
            %p.d-title.-small-size.-scorpion
              Phone:
            %span
              923065083
          %h3.d-title.-mid-size.-scorpion.pure-u-1.-left
            BCP Bank Details:
          %dl.payment-via.pure-u-1
            %p.d-title.-small-size.-scorpion
              Bank Name:
            %span
              BCP
            %p.d-title.-small-size.-scorpion
              Bank City and State:
            %span
              Arequipa, Arequipa
            %p.d-title.-small-size.-scorpion
              Bank Country:
            %span
              Perú
            %p.d-title.-small-size.-scorpion
              Swift:
            %span
              BCPLPEPL
            %p.d-title.-small-size.-scorpion
              Amount:
            %span
              $1206.87
        %strong.d-title.-mid-size.-scorpion.-right
          Balance total: $
          = @invoice.balance
