%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | Cryptography and Solutions Invoices" : "Cryptography and Solutions Invoices"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:name => "description",                                         |
          :content => content_for?(:description) ? yield(:description) :  |
          "Invoices - Cryptography and Solutions"}/    |
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = csrf_meta_tags
    = stylesheet_link_tag wicked_pdf_asset_base64('application')
    = wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true
  .pure-u-1
    .l-container
      .l-container.field-group
        %h2.d-title.-scorpion.-fullWidth.-right.-big
          Invoice
        .full-width.field-set
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion.-right
              Status: 
            - if @invoice.status == 1
              Pago confirmado
            - else
              Pago no confirmado
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion
              Name:
            = " #{@invoice.company.name}"
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion
              Nit:
            = " #{@invoice.company.nit}"
          %p.d-text.-fullwidth._text-right
            %strong.d-title.-mid-size.-scorpion
              Direction:
            = " #{@invoice.company.direction}"
            = " #{@invoice.company.city}, #{@invoice.company.country}"
      %hr.full-width.line-division
      .l-container.field-group.-between
        .pure-u-11-24.field-set.-left
          .pure-u-1._text-left
            %p.d-text.-fullwidth
              %strong.d-title.-mid-size.-scorpion
                Bill to:
              = " #{@invoice.client.name}"
            %p.d-text.-fullwidth
              %strong.d-title.-mid-size.-scorpion
                ID:
              = " #{@invoice.client.identification}"
            %p.d-text.-fullwidth
              %strong.d-title.-mid-size.-scorpion
                Phone:
              = " #{@invoice.client.phone}"
            %p.d-text.-fullwidth
              %strong.d-title.-mid-size.-scorpion
                Direction:
              = " #{@invoice.client.direction}"          
        .pure-u-11-24.field-set.-right
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              = "Invoice #: #{@invoice.id}"
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              = "Invoice date: #{@invoice.date}"
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              Payment Due:
            %label.d-title.-mid-size.-scorpion.label
              = @invoice.date
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              = "Tax #: #{@invoice.tax}%"
          .pure-u-1.invoice-info._text-right
            %strong.d-title.-mid-size.-scorpion
              Amount Due (USD):
              %span.balance
                = @invoice.balance
      .pure-u-1.h-table
        .pure-u-1.t-body
          .pure-u-1.header
            .t-item.pure-u-1-5
              Name:
            .t-item.pure-u-1-5
              ID:
            .t-item.pure-u-1-5
              Quantity:
            .t-item.pure-u-1-5
              Price:
            .t-item.pure-u-1-6
              Total:
      .pure-u-1.i-table
        .pure-u-1.t-body
          - @invoice.invoice_products.each do |item|
            .pure-u-1.row.field-container
              .t-item.pure-u-1-5
                %span
                  = item.product.name
              .t-item.pure-u-1-5.i-id
                %span
                  = item.product.id
              .t-item.pure-u-1-5
                %span
                  = item.product_quantity
              .t-item.pure-u-1-5
                %span.i-price
                  $
                  = item.product.price
              .t-item.pure-u-1-6
                %span.i-price
                  $
                  = item.product_total_price
      .pure-u-1.i-balance._text-right
        %strong.d-title.-mid-size.-scorpion
          Balance total: $
          = @invoice.balance
