.l-container.-centered
  %table.pure-u-1.m-table.white-box
    %tbody.pure-u-1.t-body
      %tr.pure-u-1.header
        %td.pure-u-1.t-header-item.d-title.-bold.-scorpion
          %span
            Clients
        %td.pure-u-1-5.t-item.name
          %span
            Name:
        %td.pure-u-2-5.t-item.direction
          %span
            Direction:
        %td.pure-u-1-5.t-item.phone
          %span
            Phone:
        %td.pure-u-1-10.pure-u-0-5-10.t-item.id
          %span
            ID:
        %td.pure-u-1-10.pure-u-1-5-10.t-item.pdf
          %span
            Perfil:
      - @clients.each do |client|
        - if client.deleted == 0
          %tr.pure-u-1.row
            %td.pure-u-1-5.t-item.name
              %span
                = client.name
            %td.pure-u-2-5.t-item.direction
              %span
                = client.direction
            %td.pure-u-1-5.t-item.phone
              %span
                = client.phone
            %td.pure-u-1-10.t-item.id
              %span
                = client.identification
            %td.pure-u-1-10.t-item.pdf
              %span
                = link_to "Delete client", client_path(client), remote: true, :confirm => "Are you sure?", :method => :delete, class: 'delete_client'
