.l-container.-centered
  %table.pure-u-1.m-table.white-box
    %tbody.pure-u-1.t-body
      %tr.pure-u-1.header
        %td.pure-u-1.t-header-item.d-title.-bold.-scorpion
          %span
            Companies
        %td.pure-u-1-5.t-item.name
          %span
            Name:
        %td.pure-u-1-5.t-item.id
          %span
            ID:
        %td.pure-u-1-5.t-item.status
          %span
            Nit:
        %td.pure-u-1-5.t-item.balance
          %span
            Direction:
        %td.pure-u-1-5.t-item
          %span
            Actions
      - @companies.each do |company|
        - if company.deleted == 0
          %tr.pure-u-1.row
            %td.pure-u-1-5.t-item.name
              %span
                = company.name
            %td.pure-u-1-5.t-item.id
              %span
                = company.id
            %td.pure-u-1-5.t-item.status
              %span
                = company.nit
            %td.pure-u-1-5.t-item.balance
              %span
                = company.direction
                = " #{company.city} - #{company.country}"
            %td.pure-u-1-5.t-item
              %span
                = link_to "Delete company", company_path(company), remote: true, :confirm => "Are you sure?", :method => :delete, class: "delete_company"
